body {
    background-color: white;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

h1, h2, h3, h4, h5, h6, p {
    color: black;
    align-content: center !important;
}

.center {
    align-content: center !important;
}

div.officers-grid {
    display: grid;
    grid-template-columns: repeat(3, 30%);
    justify-items: center;
    justify-content: center;
    gap: 5%;

}

div.officers-grid-2 {
    display: grid;
    grid-template-columns: repeat(2, 30%);
    justify-items: center;
    justify-content: center;
    gap: 5%;

}

.fa,
.fab,
.far {
    padding: 10px;
    font-size: 50px !important;
    text-align: center;
    text-decoration: none;
    margin-bottom: 15px;
    background-color: transparent;
    color: lightgrey;
}

.flex-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

main {
    flex: 1 0 auto;
}

/*When there are no auditions coming up, comment out the display: none;*/
/*When there are auditions coming up, un-comment out the display: none;*/
#no-auditions {
    display: none;
    margin-top: 30vh;
    margin-bottom: 30vh;
}

/*When there are no auditions coming up, un-comment out the display: none;*/
/*When there are auditions coming up, comment out the display: none;*/
#audition-info {
    /* display: none; */
    margin-top: 5vh;
    margin-bottom: 5vh;
}

/*When there are no shows coming up, comment out the display: none;*/
/*When there is a show coming up, un-comment out the display: none;*/
#no-shows {
    /* display: none; */
    margin-top: 30vh;
    margin-bottom: 30vh;
}

/*When there are no shows coming up, un-comment out the display: none;*/
/*When there is a show coming up, comment out the display: none;*/
#show-info {
    display: none;
    margin-top: 5vh;
    margin-bottom: 5vh;
}

#back2Top {
    width: 40px;
    line-height: 40px;
    overflow: hidden;
    z-index: 999;
    display: none;
    cursor: pointer;
    -moz-transform: rotate(270deg);
    -webkit-transform: rotate(270deg);
    -o-transform: rotate(270deg);
    -ms-transform: rotate(270deg);
    transform: rotate(270deg);
    position: fixed;
    bottom: 50px;
    right: 0;
    background-color: #DDD;
    color: #555;
    text-align: center;
    font-size: 30px;
    text-decoration: none;
    border-top-left-radius: 20%;
    border-top-right-radius: 20%;
}

#back2Top:hover {
    background-color: rgb(255, 193, 193);
    color: rgb(128, 0, 0);
}

.open-sans {
    font-family: "Open Sans", "Materialize", sans-serif !important;
}

.fascinate {
    font-family: 'Fascinate Inline', cursive !important;
}

.bold {
    font-weight: 600 !important;
}

.light {
    font-weight: 300 !important;
}

.big {
    font-size: 2.92rem !important;
}